.rating-bg-color{
    background-color: #FFCC00;    
    color: white;
    padding: 4px 4px 4px 5px;
    white-space: nowrap;
}

.rating-main-contnr{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    padding: 3%;
}