.app-header {
  background-color: #263238;
  height: 54px;
  display: flex;
  justify-content: center;
}

.flex-container-header {
  width: 98%;
  height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-search {
  display: flex;
  align-items: center;
  width: 320px !important;
  color: white;
}

.MuiInput-underline:after {
  border-bottom-color: white !important ;
}
